@use '../../styles/abstract/abstract' as *;
.card-wrapper {
    display: flex;
    justify-content: center;

    @include for-phone-only {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    @include for-tablet-portrait-up {
        justify-content: flex-start;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}