@use '../../styles/abstract/abstract' as *;

.card-step {
    background-color: rgba( var(--color-grey-light), 1 );
    height: auto;
    margin: to-rem( $size-key * 5) to-rem( $size-key * 6) to-rem($size-key);
    max-width: to-rem( $size-key * 78 );
    min-width: to-rem( $size-key * 55 );

    @include for-tablet-portrait-up {
        flex: 0 0 auto;
    }
    @include for-phone-only {
        max-width: to-rem( $size-key * 55 );
    }
    @include for-tablet-portrait-up {
        max-width: to-rem( $size-key * 55 );
    }
    @include for-desktop-up {
        max-width: to-rem( $size-key * 82 );
    }

    h5 {
        align-items: center;
        background-color: rgba( var( --color-secondary ), 1 );
        border-radius: to-rem( $size-key * 100 );
        display: flex;
        font-size: to-rem( $font-heading-sm );
        height: to-rem( $size-key * 10);
        justify-content: center;
        left: to-rem( $size-key * -5 );
        margin: to-rem( $size-key * -5 ) 0 0;
        position: relative;
        width: to-rem( $size-key * 10);
    }
    figure {
        margin-top: 0;
        
        img {
            mix-blend-mode: multiply;
            width: 100%;
        }
    }

    h3 {
        text-align: center;
        min-height: to-rem( $size-key * 18 );
        padding: 0 to-rem( $size-key * 4 );
        text-overflow: clip;
    }
}