@use 'abstract/abstract' as *;

button,
.btn {
    background-color: rgba( var(--color-white), 1 );
    border-radius: to-rem($size-key);
    border: solid 2px rgba( var(--color-primary), 1 );
    color: rgba( var(--color-primary), 1 );
    cursor: pointer;
    font-size: to-rem($font-body-lg);
    font-weight: 700;
    padding: to-rem($size-key * 2) to-rem($size-key * 4);
    text-decoration: none;
    width: auto;
    width: fit-content;

}
.btn-primary {
    background-color: rgba( var(--color-primary), 1);
    color: rgba( var(--color-black), 1 );
}
.btn-secondary {
    background-color: rgba( var(--color-secondary), 1);
    color: rgba( var(--color-dark), 1 );
    border: solid 2px rgba( var(--color-secondary), 1 );
}