:root {
  /* Main Palette */
  --color-primary: 241, 71, 29;
  --color-secondary: 235, 201, 90;
  --color-dark: 42,50,48;
  --color-pale: 251,247,246;

  /* Shades */
  --color-secondary-sh20: 188, 161, 72;
  --color-secondary-sh40: 141, 121, 54; 
  --color-secondary-sh60: 94, 80, 36; 
  --color-secondary-sh80: 47, 40, 18; 

  /* Tints */
  --color-primary-tn30: 228, 95, 62;
  --color-primary-tn60: 241, 175, 159;
  --color-secondary-tn30: 241, 217, 140;
  --color-secondary-tn60: 245, 228, 173;

  /* Grey Palette */
  --color-grey-dark: 153, 153, 153;
  --color-grey-medium: 158, 154, 152;
  --color-grey-light: 251, 247, 246;

  /* B&W Palette */
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
}
