@use '../../styles/abstract/abstract' as *;


.header-cta {
    height: auto;
    position: relative;
    width: 100%;

    svg {
        position: relative;
        z-index: 999;
        padding-top: to-rem($size-key * 4);

        @include for-phone-only {
            display: block;
            margin: 0 auto;
        }
    }

    figure {
        height: auto;
        margin: 0;
        width: 100%;

        @include for-phone-only {
            margin-top: to-rem($size-key * -20);
        }
        
        @include for-tablet-portrait-up {
            position: absolute;
            top:0;
            z-index: 888;
            
        }
    }
    .header-cta_info {
        padding-bottom: to-rem($size-key * 9);
        position: relative;
        z-index:999;

        h1 {
            text-shadow:
            0 0 50px rgba(255, 255, 255, 0.8),
            0 0 50px rgba(255, 255, 255, 0.8),
            0 0 50px rgba(255, 255, 255, 0.8),
        }

        @include for-phone-only {
            padding: 0 to-rem($size-key * 5);
            a {
                display: block;
                margin: 0 auto;
            }
        }
        
        @include for-tablet-portrait-up {
            padding-left: to-rem($size-key * 10);
        }
        
        @include for-tablet-landscape-up {
            padding-left: to-rem($size-key * 30);
            padding-top: to-rem($size-key * 3);
            
            h1 {
                max-width: 60%;
              }
        }
    }
}
