@use '../../styles/abstract/abstract' as *;


.header-cta {
    height: auto;
    overflow: hidden;
    width: 100%;

    h1 {
        color: var(--dark);
        font-size: to-rem($font-heading-xl);
        max-width: 50%;
    }
    figure {
        height: auto;
        margin: 0;
        width: 100%;
    }
    .header-cta_info {
        padding-left: to-rem($size-key * 30);
        position: absolute;
        top:0;
        padding-top: to-rem($size-key * 18);
    }
}
